#insertmessage{
    position:fixed;
    bottom:0px;
    left:0px;
    border-top:3px #FF0000 solid;
    width:100%;
    max-height: 10%;
    padding-left: 16px;
    padding-right: 16px;
}
#connectwindow{
    background-color:#008899;
    position: absolute;
    width:640px;
    height:260px;
    left: 0;
    right: 0;
    bottom: 0;
    top:0;
    margin: auto;
    /*display: none; */
}
#serversettings{
    text-align: center;
}
#exit{
    color:#FF0000;
    position: absolute;
    right:10px;
    top:10px;
    cursor: pointer;
}